<!DOCTYPE html>
<html>
<head>
    <title>Nodejs app</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300" >
</head>
<body>

  <div class="main">
    <div class="content">
      {{{body}}}
    </div>
    <img src="https://www.example.com/images/img_girl.jpg"/>
  </div>

</body>
</html>